
body {

  background-color: #99B2B1;
  text-align: center;
}



.qr-box{

background-color: white;
margin: 100px 550px;
border-radius: 25px;

}

.qr-image {

width: 80%;
position: relative;
margin-top: 10px;
margin-left: 10px;
margin-right: 10px;
margin: 10px 10px 15px 10px;
border-radius: 25px;

}

.first-p {

  padding: 20px;
  font-family: Verdana, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.second-p {

  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
  color: hsl(220, 15%, 55%);
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
